.to-homepage {
  position: absolute;
  right: 10px;
  font-family: lobster;
}

.cocktail-title-show {
  font-family: lobster;
  font-size: 40px;
}

.container-doses {
  margin-left: 80px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.font-size {
  font-size: 18px;
}
