.navbar-brand img {
  height: 40px;
  margin-left: 20px;
}

.navbar-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-section-right {
  width: 250px;
}

.navbar-section-left {
  flex-grow: 1;
}

.button-position {
  margin-top: 10px;
}

.navbar-button-size {
  width: 150px;
  margin-top: 5px;
}

.navbar-button-position {
  margin-top: 5px;
}
